@import "src/styles";

.container {
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 5px;

    .submit-participant-request {
    }
  }
}
